.checkbox_container {
  display: flex;
  align-items: center;
  align-self: flex-start;
  gap: 10px;
  cursor: pointer;

  &:hover .checkbox {
    border-color: var(--color-primary);
  }

  .checkbox {
    width: 25px;
    height: 25px;
    border-radius: var(--border-radius);
    border: var(--border);
    color: var(--color-text);
    transition: 0.3s;

    &:hover {
      border-color: var(--color-primary);
    }

    &.checked {
      background-color: var(--color-primary);
    }
  }

  .label {
    flex: 1;
    color: var(--color-text);

    .link {
      color: var(--color-primary);
      text-decoration: underline;
    }
  }
}

.error_container {
  height: 20px;

  .error_message {
    display: flex;
    align-items: center;
    gap: 5px;
    color: var(--color-error);
  }
}
